blockquote{
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
    margin: 15px auto 50px;
    color: var(--articleText);
    font-family: var(--serif);
    font-style: italic;
    width: 100%;
    max-width: 700px;
}

blockquote > p {
  font-family: var(--serif);
  max-width: 100%;
  padding-right: 0;
  padding-bottom: 0;
  width: 100%;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.32;
  font-weight: bold;
}

/*DESKTOP*/
@media screen and (max-width: 1070px){
    blockquote{
        max-width: 550px;
    }
}

/*TABLET*/
@media screen and (max-width: 735px) {
    blockquote{
        margin: 10px auto 35px;
        font-size: 26px;
    }
}

/*PHABLET*/
@media screen and (max-width: 540px) {
    blockquote{
        font-size: 36px;
        padding: 0 20px 0 40px;
    }
}