.social-icon-outer{
    width: 20%;
    min-width: 220px;
}

.social-icon-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 100%;
    position: relative;
    margin-left: 3.2rem;
    text-decoration: none;
    max-width: 16px;

    a{
        margin-right: 25px;
    }
}

.social-icon-container:hover > svg {
    fill: var (--primary);
  }

.social-icon-container:hover > * {
    -webkit-transition: fill 0.25s var(--ease-in-out-quad);
    -o-transition: fill 0.25s var(--ease-in-out-quad);
    transition: fill 0.25s var(--ease-in-out-quad);
}

.social-icon-container:first-of-type {
    margin-left: 0;
}

.social-icon-container:last-child {
    margin-right: 0;
}

/*TABLET*/
@media screen and (max-width: 735px){
    .social-icon-container{
        margin: 0 2.2rem;
    }
}

.social-icon-image{
    path{
        fill: var(--grey);
    }
}

.hidden{
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    display: inline-block;
}

/********************** RTL Support **********************/

[dir="rtl"] {
    .social-icon-container {
        margin-left: 0;
        margin-right: 3.2rem;

        a {
            margin-right: 0;
            margin-left: 25px;
        }
    }

    .social-icon-container:first-of-type {
        margin-right: 0;
    }

    .social-icon-container:last-child {
        margin-left: 0;
    }
}

/********************** Footer RSS Link **********************/

.footer-links {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 2rem;

  .rss-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease, transform 0.2s ease;

    &:hover {
      background-color: var(--hover);
      transform: scale(1.1);

      .social-icon-image {
        path {
          fill: var(--primary);
        }
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

/* Mobile */
@media screen and (max-width: 735px) {
  .footer-links {
    margin-left: 1rem;

    .rss-link {
      padding: 6px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

/* RTL Support */
[dir="rtl"] {
  .footer-links {
    margin-left: 0;
    margin-right: 2rem;
  }
}