<div class="social-icon-outer">
    <div class="social-icon-container">
        {{ range $index, $component := .Site.Params.Social }}
            {{ with $component }}
                {{ $path := print "icons/social/" $index }}
                {{ $socialName := title $index }}
                <a href="{{ . }}" aria-label="Follow us on {{ $socialName }}" rel="noopener noreferrer" target="_blank">
                    {{ partial $path $ }}
                </a>
            {{ end }}
        {{ end }}
    </div>
</div>