<section class="section narrow">
    <div class="author-hero">
        {{ $avatarSrc := or .Site.Params.authorAvatar .Params.avatar }}
        {{ with $avatarSrc }}
            <div class="author-hero-image">
                {{ $img := resources.Get . }}
                {{ with $img }}
                    {{ partial "utils/image.html" (dict
                        "src" .
                        "alt" "Author avatar"
                        "class" "author-avatar"
                        "width" 400
                        "quality" 85
                    ) }}
                {{ end }}
            </div>
        {{ end }}
        <h1 class="author-heading">{{ .Title }}</h1>
        <p class="author-subheading">{{ .Params.bio }}</p>
        <div class="author-social">
            {{ partial "author/social_links.html" . }}
        </div>
    </div>
</section>