<section id="articleHero" class="section narrow">
  <div class="article-hero">
      <header class="article-header">
          <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
      </header>
      {{ with .Params.hero }}
      <div class="article-hero-image" id="ArticleImage__Hero">
          {{ partial "utils/responsive-image.html" (dict
              "src" .
              "alt" $.Page.Title
              "class" "hero-image"
              "widths" (slice 600 1200 1800)
              "quality" 85
          ) }}
      </div>
      {{ end }}
  </div>
</section>