{{ $showBio := .Site.Params.showBio | default true }}
{{ if $showBio }}
    {{ $singleAuthorUrl := .Site.Params.singleAuthorUrl | default "/authors/mamun-alshawa" }}
    {{ $authorPage := .Site.GetPage $singleAuthorUrl }}
    {{ with $authorPage }}
        <div class="bio-container">
            <a href="{{ .RelPermalink }}" class="bio-link" aria-label="Read more about {{ $.Site.Params.author.name }}">
                {{ $avatarSrc := or .Site.Params.authorAvatar .Params.avatar }}
                {{ with $avatarSrc }}
                    <div class="bio-avatar">
                        <div class="bio-avatar-inner">
                            {{ $img := resources.Get . }}
                            {{ with $img }}
                                {{ partial "utils/image.html" (dict
                                    "src" .
                                    "alt" (printf "%s avatar" $.Page.Site.Params.title)
                                    "class" "author-avatar"
                                    "width" 200
                                    "quality" 80
                                ) }}
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
                {{ with $.Site.Params.author.bio }}
                    <p class="bio-text">{{ . }}</p>
                {{ end }}
            </a>
        </div>
    {{ end }}
{{ end }}