
{{ $singleAuthorUrl := .Site.Params.singleAuthorUrl | default "/authors/mamun-alshawa" }}
{{ $authorPage := .Site.GetPage $singleAuthorUrl }}
{{ with $authorPage }}
    <a href="{{ .RelPermalink }}" class="article-author-link">
        {{ $avatarSrc := or .Site.Params.authorAvatar .Params.avatar }}
        {{ with $avatarSrc }}
            <div class="article-author-avatar">
                {{ $img := resources.Get . }}
                {{ with $img }}
                    {{ partial "utils/image.html" (dict
                        "src" .
                        "alt" "Author avatar"
                        "class" "author-avatar"
                        "width" 40
                        "quality" 80
                    ) }}
                {{ end }}
            </div>
        {{ end }}
        <strong>{{ .Params.title }}</strong>
        <span class="hide-on-mobile">,&nbsp;</span>
    </a>
{{ end }}
